<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>テンプレート</title>
</head>
<body>
    <div>
        <div>ページ</div>
	    <ol>
	        <li><a href="/template">template</a></li>
	        <li><a href="/view_error">error(Exception)</a></li>
	        <li><a href="/404">404</a></li>
	    </ol>
	    
	    <div>API</div>
	    <ol>
	        <li><a href="/hello">hello name=none</a></li>
	        <li><a href="/hello?name=hoge">hello name=hoge</a></li>
	        <li><a href="/res_error">error(Exception)</a></li>
	    </ol>
    </div>
</body>
</html>
